*{
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

h1{
  font-size: var(--font-sizeTitle);
}

h3{
  font-size: var(--font-sizeSubtitle);
}

p, a{
  font-size: var(--font-sizetexto);
}

html{
  font-size: 16px
}

:root{
  --font-sizetexto: .87em;
  --font-sizeTitle: 2em;
  --font-sizeSubtitle: 1.5em;

  --spacing: 10px;
}

.container {
  max-width: 1024px;
  margin: 0px auto;
}

.red {
  background-color: #d71d10;
}

.green {
  background-color: #4ef14e;
}

.yellow {
  background-color: #f0f770;
}

.blue{
  background-color: #4ff8f5;
}

.orange{
  background-color: #f47826;
}

.border-right{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.border-left{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}