.hero{
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: var(--spacingx2) auto;
  padding: var(--spacing);
}

.hero__details{
  width: 70%;
}

.hero__image{
  width: 30%;
  margin-left: var(--spacing);
}
