.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: 50px;
  background-color: #C4C4C4;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}
